.git
.github
.nextflow
.nextflow.*
work
.venv
venv
__pycache__
.pytest_cache

data/raw
data/interim
data/processed

*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.bai
*.cram
*.crai

results/alignment
results/sv_calls
results/filtered

streamlit_app/data
