.git
.github
.nextflow
work
.venv
__pycache__
.pytest_cache

data/raw
data/interim

*.bam
*.bai
*.fastq
*.fastq.gz

results/alignment
results/sv_calls
results/filtered
results/benchmarking/sniffles2
results/benchmarking/cutesv

streamlit_app
