params {

    reads = 'data/raw/HG002_HiFi_chr20_20M_40M.fastq.gz'

    reference = 'data/reference/GRCh38_chr20.fa'
    ref_fai   = 'data/reference/GRCh38_chr20.fa.fai'

    truth_vcf = 'data/truth/region/HG002_chr20_20M_40M.truth.vcf.gz'
    truth_tbi = 'data/truth/region/HG002_chr20_20M_40M.truth.vcf.gz.tbi'

    benchmark_bed =
        'data/truth/region/HG002_chr20_20M_40M.benchmark.bed'
    
    genes_bed = 'data/reference/annotation/gencode_chr20_genes.bed' 
    
    region = 'chr20:20000001-40000000'

    outdir = 'results'
}

process {

    executor = 'local'

    errorStrategy = 'terminate'

    cpus = 2
    memory = '2 GB'
}

timeline {
    enabled = true
    file = 'results/nextflow_timeline.html'
    overwrite = true
}

report {
    enabled = true
    file = 'results/nextflow_report.html'
    overwrite = true
}

trace {
    enabled = true
    file = 'results/nextflow_trace.txt'
    overwrite = true
}

dag {
    enabled = true
    file = 'results/nextflow_dag.html'
    overwrite = true
}
